* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 16px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

#container {
    width: 75%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 7vh;
}

#left-container {
    width: 23%;
    height: 100%;
    position: relative;
}

#mid-container {
    width: 43%;
    height: 100%;
    background-color: whitesmoke;
    position: relative;
}

#right-container {
    width: 28%;
    height: 100%;
    position: relative;
    
}

#left-container-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 32px;
    background-color: whitesmoke;
    box-shadow: 15px 35px 35px rgba(117, 125, 232, 0.65);
}

#right-container-inside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    height: fit-content;
    padding: 24px;
    border-radius: 32px;
    background-color: #3f51b5;
    box-shadow: 15px 35px 35px rgba(117, 125, 232, 0.65);
}

#left-container-inside h1 {
    padding: 16px 24px 0;
}

#left-container-inside-bottom {
    width: 79.5%;
    height: 40vh;
    border-radius: 32px;
    padding: 16px 24px;
    background-color: #3f51b5;
}

#left-container-inside-bottom h2 {
    color: white;
    margin-bottom: 32px;
}

#left-illust {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    transform: translate(42px, 80px);
}

.todo-count {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.todo-count-text {
    color: white;
    font-size: 16px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-count img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 16px;
}

#right-illust {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    transform: translate(72px, -85px);
}

#right-container-inside h1 {
    color: white;
    margin-top: 24px;
    margin-bottom: 12px;
}

#todo-form {
    width: 100%;
    margin-bottom: 24px;

}

#todo-form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 16px;
}

#todo-form input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 89%;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    margin-top: 4px;
    margin-bottom: 12px;
    outline: none;
    transition: background-color 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}

#todo-form input:hover {
    background-color: gainsboro;
}

#todo-form input:focus {
    box-shadow: 5px 5px 10px #002984;
}

#todo-form textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 89%;
    height: 15vh;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: none;
    overflow: hidden;
    outline: none;
    transition: background-color 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}

#todo-form textarea:hover {
    background-color: gainsboro;
}

#todo-form textarea:focus {
    box-shadow: 5px 5px 10px #002984;
}

#right-submit-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3fe265;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding-block: 16px;
    border: none;
    border-radius: 16px;
}







