* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 16px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

#container {
    width: 75%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 7vh;
}

#left-container {
    width: 23%;
    height: 100%;
    position: relative;
}

#mid-container {
    width: 43%;
    height: 100%;
    /* background-color: green; */
    position: relative;
}

#right-container {
    width: 28%;
    height: 100%;
    position: relative;
    
}

#left-container-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 32px;
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(117, 125, 232, 0.65);
}

#right-container-inside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    height: fit-content;
    padding: 24px;
    border-radius: 32px;
    background-color: #3f51b5;
    box-shadow: 10px 15px 25px rgba(117, 125, 232, 0.65);
}

#left-container-inside h1 {
    padding: 16px 24px 0;
}

#left-container-inside-bottom {
    width: 79.5%;
    height: 40vh;
    border-radius: 32px;
    padding: 16px 24px;
    background-color: #3f51b5;
}

#left-container-inside-bottom h2 {
    color: white;
    margin-bottom: 32px;
}

#left-illust {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 11vw;
    transform: translate(26%, 52%);
}

.todo-count {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.todo-count-text {
    color: white;
    font-size: 16px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-count img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 16px;
}

#right-illust {
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    transform: translate(47%, -55%);
}

#right-container-inside h1 {
    color: white;
    margin-top: 24px;
    margin-bottom: 12px;
}

#todo-form {
    width: 100%;
    margin-bottom: 24px;

}

#todo-form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 16px;
}

#todo-form input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 89%;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    margin-top: 4px;
    margin-bottom: 12px;
    outline: none;
    background-color: whitesmoke;
    transition: background-color 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}

#todo-form input[type=date] {
    cursor: pointer;
}

#todo-form textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 89%;
    height: 15vh;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: none;
    overflow: hidden;
    outline: none;
    background-color: whitesmoke;
    transition: background-color 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}

#todo-form input:hover, #todo-form textarea:hover {
    background-color: gainsboro;
}

#todo-form input:focus, #todo-form textarea:focus {
    box-shadow: 0 14px 12px -8px #002984;
    background-color: whitesmoke;
}

#right-submit-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3fe265;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding-block: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
    outline: none;
}

#right-submit-button:hover {
    box-shadow: 0 14px 12px -8px #002984;
}

#right-submit-button:active {
    background-color: #00af36;
    box-shadow: none;
}

#todo-tab {
    position: relative;
    width: 89.5%;
    height: fit-content;
    padding: 24px;
    border-radius: 32px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 16px 18px -12px rgba(103, 107, 167, 0.25);
}

.todo-tab-card {
    width: 23%;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

#todo-tab-button {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 20.2%;
    height: 19px;
    padding: 16px;
    border-radius: 20px;
    background-color: #3f51b5;
    z-index: -1;
    transition: left 0.5s ease-in-out;
}

#mid-container-todo-list {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    width: 89.5%;
    height: 90%;
    padding: 24px;
    border-radius: 32px;
    z-index: -1;
    box-shadow: 10px 15px 25px rgba(117, 125, 232, 0.65);
}

#mid-container-no-list {
    display: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mid-container-no-list img {
    width: 11vw;
}

.is-active {
    color: white;
}




